@font-face { 
  font-family: 'Heart of Everything';
  src: url('../Heart-of-Everything.ttf');
} 

body {
  background-color: rgba(188,38,26,1);
  /* background-image: url('../img/chalkboard-black.jpg'); */
  background-image: url('../img/flour-chalkboard.png');
}

h1 {
  font-family: 'Heart of Everything', 'Sacramento', cursive;
  text-align: center;
  font-size: 4em;
}

h2 {
  font-family: 'Sacramento', cursive;
}

.page-header {
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgba(188,38,26, 1);
  background-image:
    linear-gradient(90deg, 
      rgba(255,255,255,0.5) 0%,
      rgba(255,255,255,0.5) 10%,
      rgba(255,255,255,0) 10%,
      rgba(255,255,255,0) 20%,
      rgba(255,255,255,0.5) 20%,
      rgba(255,255,255,0.5) 30%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0.5) 40%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 50%,
      rgba(255,255,255,0) 60%,
      rgba(255,255,255,0.5) 60%,
      rgba(255,255,255,0.5) 70%,
      rgba(255,255,255,0) 70%,
      rgba(255,255,255,0) 80%,
      rgba(255,255,255,0.5) 80%,
      rgba(255,255,255,0.5) 90%,
      rgba(255,255,255,0) 90%,
      rgba(255,255,255,0) 100%
    ),
    linear-gradient(0, 
      rgba(255,255,255,0.5) 0%,
      rgba(255,255,255,0.5) 10%,
      rgba(255,255,255,0) 10%,
      rgba(255,255,255,0) 20%,
      rgba(255,255,255,0.5) 20%,
      rgba(255,255,255,0.5) 30%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0.5) 40%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 50%,
      rgba(255,255,255,0) 60%,
      rgba(255,255,255,0.5) 60%,
      rgba(255,255,255,0.5) 70%,
      rgba(255,255,255,0) 70%,
      rgba(255,255,255,0) 80%,
      rgba(255,255,255,0.5) 80%,
      rgba(255,255,255,0.5) 90%,
      rgba(255,255,255,0) 90%,
      rgba(255,255,255,0) 100%
    );
  background-size: 10em 10em;
  background-position: 50% 50%;
  position: fixed;
  height: 100%;
}

/* Ingredients Styles */

#pastry-board {
  background-image: url('../img/marble-board.jpg');
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  transform: rotate(-1deg);
  margin-top: 100px;
}

#pie-fruit {
  text-align: center;
}

.fruit-button {
  display: inline-block;
  height: 125px;
  width: 125px;
  padding: 15px;
  margin: 10px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  border: 3px solid grey;
  position: relative;
}

.fruit-button img {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
}

.fruit-button:hover {
  background-color: rgba(255, 255, 255, .9);
  cursor: pointer;
  border: 3px solid purple;
}

/* Chalkboard Styles */
#chalkboard {
  /* background-image: url('../img/chalkboard-black.jpg'); */
  color: rgba(255, 255, 255, .9);
  padding: 20px;
  /* border-radius: 5px; */
  min-height: 500px;
  /* transform: rotate(-1deg); */
}

#todays-specials {
  display: block;
  margin: 20px auto;
  opacity: .9;
}

.delete-pie {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  margin-left: 20px;
  color: #fff;
  font-size: 14px;
}

.delete-pie:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.5)
}